*{ 
    margin: 0;
    padding: 0;
} 
body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(33, 119, 134);
}
.container{
    width: 23%;
    height: 400px;
    padding-bottom: 1rem;
}
.container button{
    margin: 10px;
    font-size: 1.8rem;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    background: plum;
    border: none;
    box-shadow: -8px -8px 15px rgba(200, 60, 255, 0.6);
    cursor: pointer;

}
button:hover{
    box-sizing: 1rem;
    background-color: chartreuse;
}
.container input{
    width: 17rem;
    height: 2rem;
    font-size: 1.4rem;
    margin-bottom: 1rem;
    margin-left: 10px;
    box-shadow: -8px -8px 15px rgba(200, 60, 255, 0.6);
    text-align: end;

}
